.root:hover {
  background-color: light-dark(
    var(--mantine-color-cyan-0),
    var(--mantine-color-cyan-9)
  );
}

.root[data-active] {
  font-weight: 800;
  background-color: light-dark(
    var(--mantine-color-cyan-1),
    var(--mantine-color-cyan-8)
  );
}

.root:hover[data-active] {
  background-color: light-dark(
    var(--mantine-color-cyan-3),
    var(--mantine-color-cyan-6)
  );
}

.label {
  color: light-dark(var(--mantine-color-blue-9), var(--mantine-color-blue-0));
  font-weight: 600;
}

.labelLink {
  display: block;
  width: 100%;
  color: light-dark(var(--mantine-color-blue-9), var(--mantine-color-blue-0));
  font-weight: 600;
  text-decoration: none;
}

.labelLink:hover {
  text-decoration: none;
}
