.badge {
  position: absolute;
  top: -0.75rem;
  left: 0.75rem;
  background-color: var(--mantine-color-grape-9);
  z-index: 10;
}

.heading {
  font-size: 1.25rem !important;
}

@media (max-width: $mantine-breakpoint-md) {
  .heading {
    font-size: 1.1rem !important;
  }
}

@media (max-width: $mantine-breakpoint-xs) {
  .heading {
    font-size: 0.95rem !important;
  }
}
