.root {
  font-size: 1rem;
}

@media (max-width: $mantine-breakpoint-md) {
  .root {
    font-size: 0.9rem;
  }

  @media (max-width: $mantine-breakpoint-xs) {
    .root {
      font-size: 0.8rem;
    }
  }
}
