.root[data-order="1"] {
  font-size: 3rem;
}

.root[data-order="2"] {
  font-size: 2.5rem;
}

.root[data-order="3"] {
  font-size: 2rem;
}

.root[data-order="4"] {
  font-size: 1.75rem;
}

.root[data-order="5"] {
  font-size: 1.5rem;
}

.root[data-order="6"] {
  font-size: 1.25rem;
}

@media (max-width: $mantine-breakpoint-xs) {
  .root[data-order="1"] {
    font-size: 2.7rem;
  }

  .root[data-order="2"] {
    font-size: 2.2rem;
  }

  .root[data-order="3"] {
    font-size: 1.85rem;
  }

  .root[data-order="4"] {
    font-size: 1.6rem;
  }

  .root[data-order="5"] {
    font-size: 1.35rem;
  }

  .root[data-order="6"] {
    font-size: 1.1rem;
  }
}

@media (max-width: $mantine-breakpoint-xs) {
  .root[data-order="1"] {
    font-size: 2.4rem;
  }

  .root[data-order="2"] {
    font-size: 2rem;
  }

  .root[data-order="3"] {
    font-size: 1.7rem;
  }

  .root[data-order="4"] {
    font-size: 1.45rem;
  }

  .root[data-order="5"] {
    font-size: 1.2rem;
  }

  .root[data-order="6"] {
    font-size: 0.95rem;
  }
}
